body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Stops horizontal scroll */
}
.nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  max-height: 6vh;
}
.small{
    width: 120px;
    margin-left: 20px;
}
.search {
    display: flex;
    align-items: center;
    padding: 8px 14px; /* Reduce excess padding */
    border-radius: 20px;
    background-color: rgb(230, 235, 238);
    width: 500px;
    height: 80%; /* Match navbar height */
    margin-left: 10vw;
}
.search:hover{
    background-color: rgb(221, 228, 232);
}
.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color:#333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin-right: 20px;
    height: 80%;
}
#margin{
    margin: 10px;
    padding: 15px;
    border-radius: 50px;
}
.getapp{
    font-weight: bold; 
    border: none; 
    outline: none;
    margin-left: 10px;
}
.getapp:hover{
    background-color: #ebebeb;
}
.login{
    background-color: rgb(200, 71, 32);
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}
.login:hover{
    background-color: rgb(160, 55, 24);
}

.more {
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 50%; /* Ensures a circular shape */
    margin: 10px;
    padding: 10px 5px 10px 5px ;
}
.more img {
    width: 50%;
}
.more:hover {
    background-color: rgb(221, 228, 232);
}
.hr {
    margin-left: 0px;
    margin-right: 0px;
}
